@{
}
@model Crash
<!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">@Model.CRASH_ID</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">View the details for crash &nbsp;@Model.CRASH_ID</h2>
                    <a class="btn btn-primary" href="#data">View Details</a>
                </div>
            </div>
        </div>
    </header>

    <!--Data-->
    <section class="about-section text-center" id="data">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8" style="color:white">
                    <h2 class="text-white mb-4">Details</h2>
        
                    <h3>Crash date and time: @Model.CRASH_DATETIME</h3>
                    <h3>Road name: @Model.MAIN_ROAD_NAME</h3>
                    <h3>City: @Model.CITY</h3>
                    <h3>County: @Model.COUNTY_NAME</h3>
                    <h3>Crash severity: @Model.CRASH_SEVERITY_ID </h3>
                    <h3>Route: @Model.ROUTE </h3>
                    <h3> Milepoint: @Model.MILEPOINT </h3>
                    <h3> Latitude: @Model.LAT_UTM_Y </h3>
                    <h3>  Longitude: @Model.LONG_UTM_X</h3>
                    <h3> Work zone related: @Model.WORK_ZONE_RELATED </h3>
                    <h3>Pedestrian involved: @Model.PEDESTRIAN_INVOLVED </h3>
                    <h3> Bicyclist involved: @Model.BICYCLIST_INVOLVED </h3>
                    <h3> Motorcycle involved: @Model.MOTORCYCLE_INVOLVED </h3>
                    <h3> Improper restraint use: @Model.IMPROPER_RESTRAINT </h3>
                    <h3> Unrestrained: @Model.UNRESTRAINED</h3>
                    <h3> DUI: @Model.DUI</h3>
                    <h3> Intersection related: @Model.INTERSECTION_RELATED </h3>
                    <h3>Wild animal related: @Model.WILD_ANIMAL_RELATED </h3>
                    <h3>Domestic animal related: @Model.DOMESTIC_ANIMAL_RELATED </h3>
                    <h3>Overturn/Rollover: @Model.OVERTURN_ROLLOVER </h3>
                    <h3>Commercial vehicle involved: @Model.COMMERCIAL_MOTOR_VEH_INVOLVED </h3>
                    <h3>Teenage driver involved: @Model.TEENAGE_DRIVER_INVOLVED </h3>
                    <h3>Older driver involved: @Model.OLDER_DRIVER_INVOLVED </h3>
                    <h3>Night/Dark conditions: @Model.NIGHT_DARK_CONDITION </h3>
                    <h3>Single vehicle: @Model.SINGLE_VEHICLE</h3>
                    <h3>Distracted driving: @Model.DISTRACTED_DRIVING </h3>
                    <h3>Drowsy driving: @Model.DROWSY_DRIVING </h3>
                    <h3>Roadway departure: @Model.ROADWAY_DEPARTURE </h3>
                </div>
            </div>
        </div>
    </section>