@page "/admin/crashes"
@page "/admin"

@inherits OwningComponentBase<ICrashRepository>

@*BETA DISPLAY CRASHES PAGE*@

<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr>
            <th>Crash ID</th>
            <th>Crash Date</th>
            <th>County</th>
            <th>Severity</th>
        </tr>

    </thead>

    <tbody>

        @if (CrashData?.Count() > 0)
        {
            //List books
            @foreach (Crash c in CrashData)
            {
                <tr>
                    <td>@c.CRASH_ID</td>
                    <td>@c.CRASH_DATETIME</td>
                    <td>@c.COUNTY_NAME</td>
                    <td>@c.CRASH_SEVERITY_ID</td>

                    @*<td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(c.CRASH_ID)">Details</NavLink>
                    </td>
                    <td>
                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(c.CRASH_ID)">Edit</NavLink>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveCrashes(c))">Delete</button>
                    </td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Crashes</td>
            </tr>
        }

    </tbody>

</table>

<NavLink class="btn btn-primary" href="/admin/crashes/create">Create</NavLink>

@code {

    public ICrashRepository repo => Service;

    public IEnumerable<Crash> CrashData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        CrashData = await repo.mytable.Take(50).ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/crashes/details/{id}";
    public string GetEditUrl(long id) => $"/admin/crashes/edit/{id}";
    public async Task RemoveCrashes(Crash c)
    {
        repo.DeleteCrash(c);
        await UpdateData();
    }
}